body {
    background: #0b0f1a;
    color: white;
    font-family: 'Segoe UI';
}

/* Navbar Glass Effect */
.glass {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Gradient Text */
.gradient-text {
    background: linear-gradient(45deg, #00c6ff, #ff00cc);
    -webkit-background-clip: text;
    color: transparent;
}

/* Button */
.btn-gradient {
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    color: white;
    border-radius: 30px;
}

/* Profile Circle */
.profile-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(45deg, #ff00cc, #00c6ff);
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

/* Sections */
.section {
    padding: 80px 0;
}

/* Cards */
.card-glow {
    padding: 20px;
    border-radius: 15px;
    background: #111;
    transition: 0.3s;
}

.card-glow:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00c6ff;
}

/* Projects */
.project-card {
    background: #111;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card:hover {
    transform: scale(1.05);
}